body {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}

.clear {
  clear: both;
}

.news .latest {
  text-align: center;

}

.news .news-trends {
  width: 100%;
}

.news .news-trends .n-cols {
  display: inline-block;
  width: 46%;
  height: 100%;
  margin: 20px;
  position: relative;
}

.news .news-trends .n-cols .thumb {
  display: inline-block;
  width: 45%;
  margin-right: 10px;
}

.news .news-trends .n-cols .desc {
  display: inline-block;
  position: absolute;
  width: 55%;
}

.news .news-trends .n-cols img {
  width: 100%;
  height: 100%;
}

.news .news-trends .n-cols .desc a span {
  display: block;
  word-wrap: break-word;
  font-weight: bold;
  font-size: 20px;
  font-family: 'open_regular', arial;
}

.news .news-trends .n-cols .desc .published {
  font-family: 'open_regular', arial;
  font-size: 10px;
  letter-spacing: 1px;
  color: #8d8d8d;
}

.news .news-trends .n-cols .desc p {
  word-wrap: break-word;
}

.news-detail {
  text-align: center;
}

.news-detail .news-header {
  text-align: left;
}

.news-detail .news-header span {
  display: block;
}

.news-detail .news-header .title {
  font-family: 'open_regular', arial;
  font-size: 30px;
  letter-spacing: 1px;
  color: #8d8d8d;
}

.news-detail .news-header .published {
  font-family: 'open_regular', arial;
  font-size: 10px;
  letter-spacing: 1px;
  color: #8d8d8d;
}

.news-detail .news-thumb {
  margin: 0 15%;
  height: 80%;
}

.news-detail .news-thumb img {
  width: 100%;
  height: 100%;
}

.news-detail .news-content {
  margin: 20px 0;
}